.fira-sans-regular{
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}
body{
     background-color:hsl(0, 22%, 96%) ;
     margin: 0px auto;
}

/* navebar */

.navebar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;

}
.logo-text{
    font-weight: bold;
    font-size: 32px;
}
.nav-btn{
    padding: 10px 15px;
    border-color: rgb(2, 119, 80);
    border-radius: 5px;
    font-weight: bold;
    color: rgb(2, 119, 80);
    
}
.nav-btn:hover{
    background-color: rgb(2, 119, 80);
    color: white;
    border: none;
    transition: 0 03s;
}

/* hero section */

.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(199, 241, 227);
    height: 70vh;
    width:85%;
    margin: 0 auto;
    border-radius: 20px;
    padding: 10px;
}
.banner-img{
    width: 300px;
}
.banner-title{
    font-size: 46px;
    font-weight: bold;
    padding-bottom: 10px;
    margin: 0;
}
.banner-text{
    color:rgb(129, 129, 129);
    padding-top: 10px;
    font-size: 24px;
}
.banner-btn{
    background-color: rgb(2, 119, 80);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
 
    
}
.banner-btn:hover{
    background:white;
    color: black;
}
/* main section */
main{
    width:85%;
    margin: 60px auto;
    justify-content: center;
    padding: 10px;
   
}

/* pillars of Bangladesh */
.pillars-content{
    font-size:28px ;
    font-weight: bold;
}
.pillars-box{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    gap: 10px;
}

.box-title{
    font-size: 20px;
    font-weight: bold;
}
.box-description{
    font-size: 16px;
    color: grey;
}
.box1{
    background-color: white;
    border: 1px solid rgb(214, 210, 210);
    padding: 20px;
    border-radius: 10px;
}

/* The vision of Future */

.future-content{
    padding-top: 100px;
    font-weight:bold ;
    font-size: 28px;
}
.card-description{
    font-size: 16px;
    color: gray;
}
.future-card{
    display: flex;
    justify-content: space-around;
   padding-top: 20px;
    gap: 10px;

}

/* card-section-1 */

.card-1{
    background-color: #c9d7f0;
    border-radius: 10px;
    padding: 30px 20px;
}
.card-title{
    font-size: 20px;
    font-weight: bold;
}
.card-description{
    font-size: 16px;
}

.card-btn-1{
    background-color: #5490F5;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: bold;
    color: white;
}

.card-btn-1:hover{
    background-color: white;
    color: black;
}
/* card-section-2 */
.card-2{
    background-color: #C6E4D6;
    border-radius: 10px;
    padding: 30px 20px;
}
.card-btn-2{
    background-color: #09A15C;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: bold;
    color: white;
}

.card-btn-2:hover{
    background-color: white;
    color: black;
}
/* card-section-3 */
.card-3{
    background-color: #F7EBCF;
    border-radius: 10px;
    padding: 30px 20px;
}
.card-btn-3{

}
.card-btn-3{
    background-color: #FFC239;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: bold;
    color: white;
}

.card-btn-3:hover{
    background-color: white;
    color: black;
}

/* others section */

.others{
    padding-top: 100px;
    
}
.container{
     background-color: white;
     background-image: url(../assets/quote-bg.png);
     background-repeat: no-repeat;
     background-position: top left ;
     border-radius: 10px;
     border: 1px solid rgb(221, 216, 216);
     padding: 20px;
}
.others-description{
    font-size: 16px;
    color: gray;
}
.others-title{
    font-size:20 ;
    font-weight: bold;
}
/* resent news style */
.news-content{
    font-size: 28px;
    font-weight: bold;
    padding-top: 100px;
    
}
.resent-news{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    gap:20px;
    
}
.news-descriptions{
    font-size: 16px;
    color: gray;
}

/* resent news imge */
.news-img{
    width: 350px;
    border-radius: 20px;
    
   
}
.news-title{
    font-size: 22px;
    font-weight: bold;
  
}
.news-description{
    font-size: 14px;
    color: gray;
}
/* time and date */

.timee{
    padding-left: 20px;
    font-size: 14px;
    color: gray;
}
.date{
    font-size: 14px;
    color: gray;
}
/* news btn */

.news-btn{
    background-color: rgb(2, 119, 80);
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
    color: white;
}
.news-btn:hover{
    background-color: white;
    color: black;
    transition: ease-out;
}

/* Donate Today style */
.donate-title{
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    padding-top: 100px;
}
.donate-discription{
    text-align: center;
    font-size: 16px;
    color: gray;
}
.donate-container{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    
}
.container-1{
    background-color: white;
    font-size: 22px;
    font-weight: bold;
    padding: 20px 40px;
    border-radius: 5px;
}
.container-1:hover{
    background-color: rgb(127, 240, 202);
    color: white;
}
.container-2{
    background-color: rgb(123, 241, 202);
    font-size: 22px;
    font-weight: bold;
    padding: 20px 30px;
    border-radius: 5px;
    color: white;
}
.container-2:hover{
    background-color: white;
    color: black;
}
.donate-input{
    width: 70%;
    border: none;
    padding: 10px 15px;
    text-align: center;
    margin-left: 15%;
}
.donate-btn{
    background-color: rgb(2, 119, 80);
    color: white;
    padding: 10px 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-left: 50%;
}
.donate-btn:hover{
    background-color: white;
    color: black;
}
/* Subscribe Newsletter style */
.subscribe-section{
    background-color: rgb(159, 248, 218);
    margin-top: 100px;
    border-radius: 10px;
    padding: 20px;
}
.subscribe-title{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}
.subscribe-description{
    text-align: center;
    font-size: 16px;
    color: gray;
}
input{
    border: none;
    padding: 10px 40px;
    border-radius: 5px 0  0 5px;
    margin-left:250px;
}
.subscribe-btn{
    background-color:rgb(2, 119, 80) ;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 0 5px 5px 0;
    margin-right: 20%;
        
}


/* style footer section */
.footer-section{
    padding: 20px 30px;
    background-color: white;

}
.footer-content{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    
}
.footer-icon{
    text-align: center;
    padding: 20px;
    gap: 10px;
}

